@import 'font-awesome';

body, ul {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

.site {
	width: 1200px;
	margin: 0 auto;
}

.to-do-header {
	margin-bottom: 10px;
	text-align: center;
}

.progress-bar-holder {
	width: 100%;
	height: 10px;
	margin-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #fff;

	.progress-bar {
		height: 100%;
		background: #aaa;
	}
}

.search-holder {
	margin-bottom: 10px;

	.search {
		float: right;
	}

}

.categories-holder {
	float: left;
	width: 400px;
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.category-list {

	&.sub-category {
		margin-left: 20px;
	}
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.category-item {

	.category-tab {
		width: 170px;
		border: 1px solid #aaa;
	}

	.fa {
		margin-left: 7px;
	}

	.fa-plus-square-o,
	.fa-trash-o {
		float: right;
	}
}

.to-do-holder {
	width: 750px;
	max-height: 700px;
	margin-left: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.to-do-list {

	.to-do-item {
		height: 50px;
		width: 100%;
		padding-top: 15px;
		border: 1px solid #aaa;
		text-align: center;
		box-sizing: border-box;
	}
}